@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC&display=swap');

.article-header{
    position: relative;
    overflow-x: clip;
    position: absolute;
    left: 5%;
    bottom: 10%;
    z-index: 1;

    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit;
}

.header-image{
    grid-column: 1 / -1;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;

    animation: header-image-animation linear;
    animation-timeline:  view();
    animation-range: exit -300px;
}

.mask{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;

}

.split-text{
    letter-spacing: -30px;
    animation-name: split-out;
    animation-timing-function: linear;
    animation-timeline:  view();
}

.glow-card{
    background: #f2f2f2;
    box-shadow: 15px 15px 30px #e5e5e5,
               -15px -15px 30px #ffffff;
}



@keyframes fade-out{
    to { opacity: 0}
}

@keyframes header-image-animation{
    25% { opacity: 1;}
    85%, 100% { opacity: 0; scale: 3}
}


@keyframes split-out{
    0%{
      letter-spacing: -30px;
      opacity: 0;
    }
    60%{
      letter-spacing: 8px;
      opacity: 1;
    }
    100%{
      letter-spacing: 8px;
      opacity: 1;
    }
  }


  .image-container {
    transition: background-image 0.5s ease-in-out;
  }


  .highlight span {
    background-image: linear-gradient(to right, rgba(255,141,255,0) 50%, #ffd2ba 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    transition: background-position 0.5s ease-out;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .highlight:hover span {
    background-position: -99.99% 0;
    font-weight: bold;
  }
