.HeroSwiper  .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.HeroSwiper  .swiper-pagination .swiper-pagination-bullet-active{
    background-color: white;
}

.HeroSwiper  .swiper-pagination{
    padding-bottom: 6rem;
}